{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <script src="{% static '/js/base.min.js' %}"></script>

</head>

<body>
  <title>DASHBOARD</title>

<div class="background">
  <div class="title">EASILY CONVERT TO AND FROM PDF IN SECONDS</div>
  <div style="height:15px"></div>
  <div class="instructions">powered by Des Komorebi</div>

  <div style="height:70px"></div>
  <div class="step">Step 1</div>
  <div class="instructions">Select the Word,excel,Powerpoint,PDF or other file you wish to convert.</div>
  <div style="height:20px"></div>
  <a class="link" href="">FILES</a>

  <div style="height:70px"></div>
  <div class="step">Step 2</div>
  <div class="instructions">Our free PDF creator will convert your document to PDF or from PDF in seconds.</div>
  <div style="height:20px"></div>
  
  <div style="height:70px"></div>
  <div class="step">Step 3</div>
  <div class="instructions">Your new document will be ready to download immediately. after the download is complete, any remaining files uploaded will be purged from our server.</div>
</div>
</body>



<footer>
  <p>Copyright &copy; 2022 <img src="{% static '/img/GoCeylonVLN.png' %}" alt="logo"> All Rights Reserved.</p>
</footer>

<script src="{% static '/js/base.js' %}"></script>

</html>
{% endblock %}