{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard2.css' %}" />
    <script src="{% static '/js/base.min.js' %}"></script>

</head>

<body>
  <title>Translate</title>

<div class="background">
  <div class="form-wrapper">
    <div class="title" style='color:black'>Get Images & Documents with Sinhala Text Translated</div>
    {% if img_obj == None %}  
    <div class="step">Step 1</div>
    <div class="instructions" >Select the Image that contains Sinhala Text<br> Then Click Upload</div>
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.user_img }}  
        <button type='submit' class="link">Upload</button>
      </form>
      {% else %} 
      <div class="step step2">Step 2</div>
        <div class="instructions process-element">Please Wait while we Process your Image</div>
        <div class="loader loader--style2 process-element" title="1">
          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
            <animateTransform attributeType="xml"
              attributeName="transform"
              type="rotate"
              from="0 25 25"
              to="360 25 25"
              dur="0.6s"
              repeatCount="indefinite"/>
            </path>
          </svg>
        </div>
        <img src="{{ img_obj.user_img.url}}" alt="connect" style="max-height:100px">  
      {% endif %}  
  </div>
  <!--<div class="step">Step 2</div>
  <div class="instructions">Please Wait while we Process your Image</div>
  <div style="height:20px"></div>-->
  
  <!--<div style="height:70px"></div>
  <div class="step">Step 3</div>
  <div class="instructions">Your new document will be ready to download immediately. after the download is complete, any remaining files uploaded will be purged from our server.</div>
  -->
</div>
</body>




</html>
{% endblock %}